name: update

on:
  schedule:
    - cron: "10 22 * * *"
  push:
    branches:
      - main
    paths:
      - "generate.sh"
jobs:
  update:
    if: github.repository == 'mixool/rules'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v2

      - name: update
        run: |
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/reject-list.txt | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/reject.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/direct-list.txt | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/direct.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/apple-cn.txt    | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/apple-cn.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/google-cn.txt   | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/google-cn.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/gfw.txt         | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/gfw.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/greatfire.txt   | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/greatfire.list
            wget -qO- https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/release/proxy-list.txt  | sed "s/^/.&/" | sed "/.regexp:.*/d" | sed "/^$/d" >domainset/proxy.list
            bash generate.sh allrocket >allrocket.conf
            bash generate.sh cnlist_autoswitch >autoswitchcnlist.txt
            bash generate.sh proxylist_autoswitch >autoswitchproxylist.txt
            bash generate.sh category-porn >category-porn

      - name: push
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git commit -am "update"
            git push -v --progress
